.modalController {
    box-sizing: border-box;
    border: none;
    padding: 0;
    width: 90%;
    height: 80%;
    border-radius: 8px;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 2rem 1rem;
    gap: 2rem;
}

.divProfileModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divNameModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
}

.namePostModal {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212529;
}

.StackPostModal {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #495057;
}

.titlePostModal {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 130%;
    color: #212529;
}

.textPostModal {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 175%;
    color: #495057;
}


.closeBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 1.5%;
    left: 85%;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--grey-100);
    border-radius: 9.375rem;
}

@media(min-width: 769px) {
    .modalController {
        width: 55%;
    }

    .modalContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.5rem 1.5rem;
        gap: 32px;
        width: 100%;
        height: 100%;
    }

    .titlePostModal {
        font-size: 28px;
        line-height: 143%;
    }

    .textPostModal {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: #495057;
    }

    .closeBtn {
        top: 5%;
        left: 90%;
        border-radius: 50%;
    }
}